upstream serv {
	server backend:5000;
}

server {
    #listen ${PORT:-80};
    #server_name  _;

    listen ${PORT:-443} ssl http2;
    server_name  cryptodonutz.xyz;

    ssl_certificate         /etc/ssl/cryptodonutz.xyz/fullchain.pem;
    ssl_certificate_key     /etc/ssl/cryptodonutz.xyz/privkey.pem;
    ssl_trusted_certificate /etc/ssl/cryptodonutz.xyz/chain.pem;

    root /usr/share/nginx/html;
    index index.html;

    location /images/ {
	    proxy_pass http://serv;
        proxy_redirect off;
    }

    location /api {
	    proxy_pass http://serv/api;
        proxy_redirect off;
        client_max_body_size 100M;
    }

    location /sockt {
	    proxy_pass http://serv/sockt;
        proxy_redirect off;
    }

    location / {
        try_files $$uri /index.html;
    }
}

# HTTP redirect
server {
    listen      	    ${PORT:-80};
    server_name		    cryptodonutz.xyz;
    return              301 https://cryptodonutz.xyz$request_uri;
}
