@use 'variables'

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap')
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap')

html
  box-sizing: border-box
  height: -webkit-fill-available

body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  // -webkit-touch-callout: none
  // -webkit-user-select: none
  // -khtml-user-select: none
  // -moz-user-select: none
  // -ms-user-select: none
  // user-select: none

.container
  position: relative
  height: 100%
  min-height: 100vh
  width: 100%
  background: variables.$black-color
  padding-bottom: 92px
  display: flex
  flex-direction: column
  align-items: center
  overflow-x: hidden
  overflow-y: scroll

  &.transparent
    background: rgba(0, 0, 0, 0)
    padding-bottom: 0
    overflow: hidden

.modal-wrapper
  width: 100%
  height: 100%
  position: fixed
  z-index: 900
  background: rgba(0,0,0,.3)
  display: flex
  justify-content: center
  align-items: center

::-webkit-scrollbar
  width: 2px
  height: 4px
::-webkit-scrollbar-track
  border-radius: 2px
  background: variables.$black-color
::-webkit-scrollbar-thumb
  background: variables.$main-color
  border-radius: 2px
  width: 2px

.rnc__notification-item--info
  background-color: variables.$main-color !important
  border-left: 8px solid variables.$main-color-dark !important

.rnc__notification-content
  font-family: variables.$pt-font

.ant-layout-sider,
.ant-layout-sider-trigger,
.ant-layout-header
  background: variables.$black-transparent-color

.sidebar-menu
  &.ant-menu
    &.ant-menu-dark.ant-menu-inline,
    &.ant-menu-dark.ant-menu-inline .ant-menu-sub
      background: none

body,
.ant-layout
  background: variables.$blue-dark-color

  &.layout-container
    min-height: 100vh
    position: relative

  &.site-layout
    background-image: url('../assets/blue-gradient.png')
    background-repeat: no-repeat
    background-position: -25% -100%
    background-size: 800px
    background-attachment: fixed

body,
.ant-layout,
.content-container
  &.transparent
    background: rgba(0, 0, 0, 0)
    padding-bottom: 0
    overflow: hidden

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected
  background-color: transparent

.ant-menu
  font-family: variables.$inter-font
  color: variables.$grey-color

.ant-menu-item,
.ant-menu-submenu
  svg
    width: 24px
    height: 24px

.ant-menu-submenu-popup
  display: none !important

.ant-menu-inline
  .ant-menu-item,
  .ant-menu-submenu-title
    margin-top: 0

    &:not(:last-child)
      margin-bottom: 0

    &.ant-menu-item-only-child
      padding-left: 59px !important

    @media (min-width: 768px) and (max-width: 992px)
      padding-left: 48px !important

      &.ant-menu-item-only-child
        padding-left: 82px !important

    // ant-menu-item ant-menu-item-selected ant-menu-item-only-child

.ant-layout-header
  display: flex
  height: 68px
  justify-content: flex-end
  align-items: center

.ant-layout-sider-zero-width-trigger
  background: none

.empty-el
  margin-left: auto
  margin-right: auto

.ant-slider-dot
  display: none

.ant-back-top
  right: 25px
  bottom: 20px

.ant-btn-default:hover
  border-color: variables.$main-color
  color: variables.$main-color

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:not(:disabled):hover
  border-color: variables.$main-color
  background-color: variables.$main-color

.ant-steps
  .ant-steps-item
    .ant-steps-item-title
      color: variables.$white-color !important
      font-family: variables.$inter-font !important
      font-size: 20px !important

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot
  background: variables.$white-color !important

.ant-steps-item-container > .ant-steps-item-tail::after
  display: none

.ant-badge-count
  box-shadow: none

.ant-radio-wrapper
  &.radio-select
    .ant-radio-inner
      box-shadow: variables.$shadow
      border-color: variables.$grey-color
      background-color: variables.$grey-color

    .ant-radio-checked
      .ant-radio-inner
        border-color: variables.$main-color
        background-color: variables.$main-color

        &::after
          background-color: variables.$main-color

.line
  color: variables.$white-color
  border-top: 1px solid variables.$white-color
  opacity: .8

.icon
  display: flex
  align-items: center

  svg
    transition: transform .4s

  &-notifications
    height: 100%
    cursor: pointer

  &-arrow
    display: block

  &.rotated
    svg
      transform: rotate(180deg)

[hidden]
  display: none !important

.form
  &-element
    &__label
      font-family: variables.$pt-font
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 25px
      color: variables.$white-color

.hidden
  display: none !important

.inter
  font-family: variables.$inter-font

.jakarta
  font-family: variables.$jakarta-font

.vt
  font-family: variables.$vt-font

.pt
  font-family: variables.$pt-font

.fadeIn
  animation-fill-mode: both
  animation-name: fadeIn
  animation-duration: 200ms

.fadeInDown
  animation-fill-mode: both
  animation-name: fadeInDown
  animation-duration: 400ms

.fadeInUp
  animation-fill-mode: both
  animation-name: fadeInUp
  animation-duration: 400ms

.fadeInBlur
  animation-fill-mode: both
  animation-name: fadeInBlur
  animation-duration: 200ms

@media (max-width: 992px)
  .ant-layout
    &.site-layout
      background-position: 0 -100%

@keyframes downTransform
  from
    transform: translate3d(0, -50px, 0)

  to
    transform: none

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1

@keyframes fadeInDown
  from
    opacity: 0
    transform: translate3d(0, -50px, 0)

  to
    opacity: 1
    transform: none

@keyframes fadeInUp
  from
    opacity: 1
    transform: none

  to
    opacity: 0
    transform: translate3d(0, -50px, 0)

@keyframes fadeInBlur
  from
    opacity: 0

  to
    opacity: 1
    backdrop-filter: blur(10px)
