@use 'commonStyles/variables'

.notifications
    position: relative
    margin-right: 37px

    .icon-notifications
        .ant-badge
            .ant-badge-count
                box-shadow: none
                background: variables.$main-color

    .popup
        .wrapper
            position: absolute
            right: -75px
            top: 56px
            z-index: 100
            width: 380px
            padding: 20px
            border-radius: variables.$border-radius
            background: variables.$black-transparent-color
            backdrop-filter: blur(20px)

        .popup-header
            display: flex
            justify-content: space-between
            padding: 0 10px
            margin-bottom: 10px
            margin-right: 10px

            p
                margin: 0
                color: variables.$white-color
                font-family: variables.$pt-font
                font-size: 16px
                line-height: 18px

                &.all-read
                    transition: .3s
                    cursor: pointer

                    &:hover
                        color: variables.$main-color

        .content
            width: 100%
            overflow: hidden
            text-overflow: ellipsis

            .list
                max-height: 280px

            .item
                margin-bottom: 5px
                margin-right: 10px
                padding: 0 10px
                display: flex

                .dot
                    padding: 5px 0
                    width: 100%
                    border-bottom: 1px solid variables.$grey-color
                    font-family: variables.$pt-font
                    font-style: normal
                    font-weight: 500
                    font-size: 18px
                    line-height: 24px
                    color: variables.$white-color

                    .content
                        display: flex
                        justify-content: space-between

                        svg
                            width: 13px
                            margin-top: 3px
                            transition: .3s
                            cursor: pointer

                            &:hover
                                color: variables.$main-color

                    .date
                        color: variables.$grey-color
                        font-weight: 400
                        font-size: 14px
                        line-height: 18px
                        margin: 5px 0 0

                    .ant-badge-dot
                        top: 10px
                        left: -10px

                &:last-child
                    .dot
                        border-bottom: none

@media (max-width: 1200px)
    .notifications
        .popup
            .wrapper
                right: -200px

@media (max-width: 475px)
    .notifications
        .popup
            .wrapper
                width: 300px
                padding: 20px 10px

            .content
                .item
                    .dot
                        font-size: 16px
                        line-height: 20px

                        .date
                            font-size: 12px
                            line-height: 16px
