@use '../././../commonStyles/variables'

.btn-bottom
    margin-top: 25px

.form-element
    &__action
        font-family: variables.$jakarta-font
        font-size: 20px
        line-height: 25px
        color: variables.$grey-color
        cursor: pointer
        transition: .4s

        &.active
            color: variables.$blue-color

        @media (max-width: 768px)
            margin-top: 35px
            font-size: 18px
            line-height: 22px
