@use 'commonStyles/variables'

.btn-bottom
    display: flex
    align-items: center
    margin-top: 25px

    .save-btn
        margin-right: 20px

.form-element
    .action
        width: fit-content
        cursor: pointer
        font-family: variables.$pt-font
        font-size: 20px
        line-height: 25px
        color: variables.$grey-color
        margin: 0
        transition: .4s

        &:not(.wallet)
            pointer-events: none

        &:not(.wallet).active
            pointer-events: auto
            color: variables.$main-color

        &.wallet
            &.disabled
                pointer-events: none
                cursor: none
                opacity: .3

        @media (max-width: 768px)
            margin-top: 35px
            font-size: 18px
            line-height: 22px
