upstream serv {
	server backend:${API_PORT};
}

server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    location /assets/ {
	    proxy_pass http://serv;
        proxy_redirect off;
    }

    location /uploads/ {
	    proxy_pass http://serv;
        proxy_redirect off;
    }

    location /api {
	    proxy_pass http://serv/api;
        proxy_redirect off;
        client_max_body_size 100M;
    }

    location /sockt/ {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        
        proxy_pass http://serv/sockt/;

        # proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location / {
        try_files $$uri /index.html;
    }
}

# HTTP redirect
#server {
#    listen      	    ${PORT:-80};
#    server_name		    cryptodonutz.xyz;
#    return              301 https://cryptodonutz.xyz$request_uri;
#}
