mixin footer()
  tr
    td(align='left' style='background-color: #1a1b36; padding: 20px; margin: 0; border-top: 0;  border-radius: 0 0 10px 10px;')
      div
        a(href="https://cryptodonutz.xyz", target='_blank', style=`letter-spacing: 0.32px; font-weight: 400; color: #BBB9B9; font-size: 14px; line-height: 16px; cursor: pointer; display:inline-block;text-decoration:none;`)
          | cryptodonutz.xyz