@use 'commonStyles/variables'

.badge-page
    .information-title,
    .image-title
        font-family: variables.$pt-font
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 25px
        color: variables.$white-color
        margin: 0
        margin-bottom: 12px

    .image-block
        position: relative
        width: 100%
        float: left

        &::before
            content: ""
            display: block
            margin-top: 100%

        .content
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            overflow: hidden
            border-radius: variables.$border-radius

            img
                height: 100%
                width: 100%
                object-fit: cover

    .details
        .content
            background: variables.$blue-transparent-color
            border-radius: variables.$border-radius
            margin-bottom: 20px
            padding: 0px 25px

            .row
                padding: 15px 0

                .title,
                .value
                    font-family: variables.$pt-font
                    color: variables.$white-color
                    font-style: normal
                    font-size: 18px
                    line-height: 22px
                    margin: 0

                .title
                    font-weight: 700

                .value
                    font-weight: 400

                    // blockchain block modificator
                    .absolute
                        position: relative

                        .icon
                            position: absolute
                            left: 0

                        .name
                            margin-left: 50px

                .link-wrapper
                    .simpleLink-block
                        .link
                            font-family: variables.$inter-font
                            font-weight: 600
                            font-size: 15px
                            line-height: 20px

                        .icon svg
                            width: 13px

                &:not(:last-child)
                    border-bottom: 1px solid variables.$black-color

    .holders
        .users
            background: variables.$blue-transparent-color
            border-radius: variables.$border-radius
            padding: 8px 15px

            &.center
                display: flex
                justify-content: center
                padding: 8px 15px 12px

            .holder-avatar
                border-color: variables.$blue-dark-color

    .holders .title,
    .select_label
        font-family: variables.$pt-font
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 25px

    .select_label
        margin-bottom: 10px

    .btn-bottom
        display: flex

        @media (min-width: 1200px)
            justify-content: flex-end
