@use 'commonStyles/variables'

.page_tabs
    .ant-tabs-tab
        &-btn
            font-family: variables.$pt-font
            font-size: 15px
            font-style: normal
            font-weight: 400
            line-height: 20px
            color: variables.$white-color !important

    &.isBigTabs 
        .ant-tabs-tab
            &-btn
                font-size: 20px
                font-weight: 700
                line-height: 25px

        &.ant-tabs-tab-active
            .ant-tabs-tab-btn
                color: variables.$white-color !important

    .ant-tabs-ink-bar
        background: variables.$main-color

    .ant-tabs-top > .ant-tabs-nav::before
        border-color: transparent
