@use '../../commonStyles/variables'

.ant-modal-content
    padding: 39px 52px 34px
    background: variables.$grey-background-color
    border-radius: 20px

.ant-modal-close-x
    color: variables.$grey-color

.ant-modal-header
    background: variables.$grey-background-color
    border: none

    .ant-modal-title
        font-family: variables.$inter-font
        font-style: normal
        font-weight: 500
        font-size: 30px
        line-height: 30px
        color: variables.$white-color
        text-align: center