@use 'commonStyles/variables'

.app-modal
    .ant-modal-content
        background: variables.$blue-transparent-color
        border-radius: 20px
        position: relative
        backdrop-filter: blur(15px)

        .modal-content-wrapper
            padding: 0 52px 34px

            &.noPadding
                padding: 0

        @media (max-width: 768px)
            padding: 20px 0 0

            .modal-content-wrapper
                padding: 0
                padding-bottom: 15px

    .ant-modal-close-x
        color: variables.$grey-color

    .ant-modal-header
        background: transparent
        border: none
        border-radius: 20px

        .ant-modal-title
            font-family: variables.$pt-font
            font-style: normal
            font-weight: 500
            font-size: 25px
            line-height: 30px
            color: variables.$white-color
            text-align: center
            margin-top: 39px

            @media (max-width: 768px)
                margin-top: 20px

    .modal-success
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background: url('../../assets/modalBg.png')
        background-repeat: no-repeat
        background-size: cover
        background-position-y: 45%
        height: 93vh
        border-radius: variables.$border-radius

        .message,
        .description
            text-align: center
            font-family: variables.$pt-font
            font-style: normal

        .message
            max-width: 70%
            margin-bottom: 25px
            font-weight: 600
            font-size: 32px
            line-height: 37px
            color: variables.$green-color

        .description
            max-width: 85%
            margin-top: 75px
            font-weight: 400
            font-size: 25px
            line-height: 30px
            color: #F6F7F1

        @media (max-width: 992px)
            height: 55vh

            .message
                max-width: 90%
                font-size: 27px
                line-height: 32px

            .description
                max-width: 90%
                font-size: 22px
                line-height: 30px
                margin-top: 15px

    .donat-loading
        display: flex
        flex-direction: column
        align-items: center

        .message,
        .description
            margin-bottom: 25px
            text-align: center
            font-family: variables.$pt-font
            font-style: normal
            font-weight: 600
            font-size: 25px
            line-height: 30px
            color: variables.$white-color
