@use '../././../commonStyles/variables'

.create_badges
    &__title 
        display: flex
        align-items: center
        color: variables.$white-color
        margin-bottom: 23px

        .arrow_icon
            cursor: pointer
            margin-right: 15px

    .saveBottom
        margin-top: 40px
        display: flex
        justify-content: flex-end

.details
    &__title
        font-family: variables.$jakarta-font
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 25px
        color: variables.$white-color

    &__content
        background: variables.$grey-background-color
        border-radius: variables.$border-radius
        font-family: variables.$inter-font
        font-style: normal
        font-weight: 600
        font-size: 15px
        line-height: 20px
        margin-bottom: 25px
        padding: 0px 20px

        &_row
            padding: 20px 0
            &_title
                margin: 0
                color: variables.$white-color

            &_value
                margin: 0
                color: variables.$grey-color


            .link-wrapper 
                .simpleLink-block 
                    .link
                        font-family: variables.$inter-font
                        font-weight: 600
                        font-size: 15px
                        line-height: 20px

                    .icon svg
                        width: 13px


            &:not(:last-child)
                border-bottom: 1px solid variables.$black-color
                
    &__users
        background: variables.$grey-background-color
        border-radius: variables.$border-radius
        padding: 8px 15px

        &.center
            display: flex
            justify-content: center
            padding: 8px 15px 12px

    &__select_user
        .ant-select,
        .ant-select:not(.ant-select-customize-input)

            .ant-select-selector
                background: variables.$grey-background-color !important
                border: none !important
                border-color: transparent !important

            .ant-select-selection-item
                font-family: variables.$inter-font
                font-weight: 600
                font-size: 15px
                color: variables.$grey-color

.badges-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    @media (max-width: 640px)
        width: 90%
        margin: 0 auto
    &__new-badge-wrapper
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        @media (max-width: 640px)
            flex-direction: column
            align-items: flex-start
        span
            font-family: variables.$jakarta-font
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 25px
            color: variables.$white-color
            @media (max-width: 640px)
                margin-bottom: 12px
    &__list 
        margin-top: 62px
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        flex-wrap: wrap

    &__table
        display: flex
        flex-direction: column
        width: 100%
        margin-top: 48px
        max-width: 1170px
        &__header
            width: 100%
            background: variables.$grey-background-color
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            box-sizing: border-box
            padding: 14px 28px
            & > div
                width: 25%
                box-sizing: border-box
                padding: 0px 4px
                text-align: center
                font-family: variables.$inter-font
                font-style: normal
                font-weight: 700
                font-size: 16px
                line-height: 19px
                color: variables.$grey-color
        &__main
            display: flex
            flex-direction: column
            width: 100%
            position: relative
            &__row
                position: relative
                width: 100%
                display: flex
                flex-direction: row
                align-items: center
                justify-content: space-between
                box-sizing: border-box
                padding: 14px 28px
                span 
                    width: 25%
                    max-width: 25%
                    box-sizing: border-box
                    padding: 0px 4px
                    text-align: center
                    font-family: variables.$inter-font
                    font-style: normal
                    font-weight: 700
                    font-size: 16px
                    line-height: 19px
                    color: variables.$white-color
                    text-overflow: ellipsis
                    overflow: hidden
                    flex-wrap: wrap
                    img
                        max-width: 32px
                        max-height: 32px
                        overflow: hidden
                &__info-icon
                    cursor: pointer

                &__delete-btn
                    & > div
                        background-color: variables.$red-color
                        width: auto
                        margin-left: 10px

                        &:hover
                            box-shadow: 0 0 4px 2px variables.$red-color
                                            
                &__popup
                    z-index: 100
                    position: absolute
                    // left: 230px
                    top: 0
                    max-width: 600px
                    box-sizing: border-box
                    padding: 50px
                    border-radius: variables.$border-radius
                    background: variables.$grey-background-color
                    color: variables.$white-color
                    display: flex
                    flex-direction: row
                    align-items: flex-start

                    .row-popup__image
                        width: 200px
                        height: 200px
                        img
                            width: 100&
                            height: 100%
                            object-fit: cover
                            border-radius: variables.$border-radius

                    .row-popup__text
                        width: 320px
                        overflow: hidden
                        // margin-left: 40px

                        .title
                            font-family: variables.$inter-font
                            font-style: normal
                            font-weight: 700
                            font-size: 20px
                            line-height: 19px
                            color: variables.$white-color
                            width: 100%
                            text-overflow: ellipsis
                            overflow: hidden
                            //flex-wrap: nowrap
                            text-align: start
                            padding-left: 0
                            margin-bottom: 15px
                        .desc
                            font-family: variables.$jakarta-font
                            font-style: normal
                            font-weight: 500
                            font-size: 15px
                            line-height: 25px
                            color: variables.$white-color
                            // height: 66px
                            // max-height: 66px
                            margin-top: 5px
                            // min-width: 192px
                            overflow: hidden
                            text-align: start
                            text-overflow: ellipsis
                            flex-wrap: nowrap
                            //word-wrap: 
                            width: 100%
                            overflow-wrap: anywhere
                        .link
                            font-family: variables.$jakarta-font
                            font-style: normal
                            font-weight: 700
                            font-size: 15px
                            line-height: 30px
                            color: variables.$white-color
                            text-decoration: none
                        

