@use '../../commonStyles/_variables'

.ant-layout-sider,
.ant-menu.ant-menu-dark,
.ant-layout-sider-trigger,
.ant-layout-header,
.ant-menu-dark .ant-menu-inline.ant-menu-sub
    background: variables.$grey-background-color

.ant-layout
    background: rgba(0, 0, 0, 0)

    &.transparent
        padding-bottom: 0
        overflow: hidden

.ant-layout-sider
    border-right: 1px solid variables.$black-color

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected
    background-color: variables.$blue-color

.ant-menu
    font-family: variables.$inter-font
    color: variables.$grey-color

.ant-menu-item,
.ant-menu-submenu
    svg
        width: 24px
        height: 24px

.ant-menu-inline
    .ant-menu-item
        margin-top: 0
        &:not(:last-child)
            margin-bottom: 0

    .ant-menu-item-only-child
        padding-left: 60px !important

    .ant-menu-submenu-title
        margin: 0

.ant-layout-header
    display: flex
    height: 68px
    justify-content: flex-end
    align-items: center

.ant-layout-sider-zero-width-trigger
    background: none

.gamb-icon
    path
        transition: transform 0.25s

    &.active 
        path:nth-of-type(1)
            transform: rotate(45deg)
            transform-origin: -1px 3px
            
        path:nth-of-type(2)
            display: none
            
        path:nth-of-type(3)
            transform: rotate(-45deg)
            transform-origin: 0px 13px

.sidebar
    &-content
        height: 85%
        display: flex
        flex-direction: column
        justify-content: space-between

    &-email
        display: flex
        align-items: center
        padding-left: 24px

        a, svg
            transition: .3s
            color: variables.$grey-color
        a
            font-weight: 400
            font-family: variables.$inter-font
            font-size: 14px
            margin-left: 5px

        &:hover
            a, svg
                color: variables.$white-color

.empty-el
    margin: 0 auto

.notifications
    position: relative
    margin-right: 37px

    &-popup-wrapper
        display: flex
        flex-direction: column
        width: 300px
        background: variables.$grey-background-color
        border-radius: variables.$border-radius
        position: absolute
        right: -75px
        top: 56px
        z-index: 100
        padding: 20px

    &-popup
        &__content
            width: 100%
            font-family: variables.$jakarta-font
            font-style: normal
            font-weight: 500
            font-size: 18px
            line-height: 24px
            color: variables.$white-color
            overflow: hidden
            text-overflow: ellipsis
            &-list
                max-height: 250px
            &-item
                margin-bottom: 5px
            &-link
                margin-top: 15px
                text-align: center
                color: variables.$grey-color
                cursor: pointer

.ant-switch-checked
    background: variables.$blue-color

    &:focus
        box-shadow: none

.ant-slider:hover .ant-slider-track,
.ant-slider-track
    background-color: variables.$blue-color

.ant-slider-handle,
.ant-slider-handle:focus,
.ant-slider-handle:hover
    border-color: variables.$blue-color

.ant-back-top
    right: 25px
    bottom: 20px

.ant-btn-default:hover
    border-color: variables.$blue-color
    color: variables.$blue-color

.ant-btn-primary,
.ant-btn-primary:hover
    border-color: variables.$blue-color
    background-color: variables.$blue-color

.ant-steps
    .ant-steps-item
        .ant-steps-item-title
            color: variables.$white-color !important
            font-family: variables.$inter-font !important
            font-size: 20px !important

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot
    background: variables.$white-color !important

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after
    background-color: variables.$green-color

.line
    color: variables.$white-color
    border-top: 1px solid variables.$white-color
    opacity: .8

.icon
    display: flex
    align-items: center

    &-notifications
        height: 100%
        cursor: pointer

.form
    &-element
        &__label
            font-family: variables.$jakarta-font
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 25px
            color: variables.$white-color

.page_tabs
    .ant-tabs-tab
        &-btn
            font-family: variables.$jakarta-font
            color: variables.$white-color

        &.ant-tabs-tab-active 
            .ant-tabs-tab-btn
                color: variables.$blue-color

    .ant-tabs-ink-bar
        background: variables.$blue-color

    .ant-tabs-top > .ant-tabs-nav::before
        border-color: transparent

.main-container
    padding: 39px 50px 34px
    color: variables.$white-color

    &.noPadding
        padding: 0


.layout-sidebar
    overflow: auto
    height: 100vh
    position: fixed
    left: 0
    top: 0
    bottom: 0
    // transition: all 2s

@media (max-width: 992px)
    .layout-header 
        position: fixed
        width: 100%  
        top: 0
        left: 0
        z-index: 100

    .main-container
        margin-top: 68px

        &.noPadding
            margin-top: 0

    .layout-sidebar
        top: 68px
        z-index: 100

        .main-logo
            display: none

    .notifications
        &-popup-wrapper
            right: -140px


@media (max-width: 768px)
    .main-container
        padding: 39px 25px 80px