@use 'commonStyles/variables'

.create_badges

    .title,
    .description
        font-family: variables.$pt-font
        margin: 0
        font-style: normal
        font-weight: 400

    .title
        font-size: 20px
        line-height: 25px
        margin-bottom: 12px

    .description
        font-size: 14px
        line-height: 20px
        color: variables.$grey-color

    .description-area
        textarea
            min-height: 220px

    .btn-bottom
        display: flex
        align-items: center

        .create-btn
            margin-left: 20px
