@use 'commonStyles/variables'

.selectInput
    width: 100%

    &__label_wrapper
        display: flex
        align-items: center

    &__label
        font-family: variables.$pt-font
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 25px
        color: variables.$white-color

    &__description
        margin-top: 10px
        margin-bottom: 0
        font-family: variables.$pt-font
        font-style: normal
        font-weight: 400
        font-size: 17px
        line-height: 22px
        color: variables.$grey-color

    .ant-select,
    .ant-select:not(.ant-select-customize-input)
        width: 100%

        &:focus-visible
            outline: none

        .ant-select-selector
            width: 100%
            height: auto
            background-color: variables.$black-transparent-color
            border: none
            border-radius: variables.$border-radius
            padding: 9px 24px

        .ant-select-arrow
            color: variables.$white-color
            padding-right: 20px

        input
            color: variables.$white-color

    .ant-select:not(.ant-select-disabled):hover
        .ant-select-selector
            border-color: variables.$white-color !important

    .ant-select-disabled.ant-select:not(.ant-select-customize-input)
        .ant-select-selector
            background: rgba(94, 94, 94, .3)

    .ant-select-selection-item,
    .ant-select-multiple .ant-select-selection-item
        font-family: variables.$pt-font
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 25px
        color: variables.$white-color
        background: none
        border: none
        padding: 0

        .ant-select-selection-item-remove
            display: none

    .ant-select-single.ant-select-open
        .ant-select-selection-item
            color: variables.$white-color

    .ant-select-single.ant-select-show-arrow
        .ant-select-selection-search
            right: 50px
            left: 20px
            display: flex
            align-items: center
            font-size: 20px
            line-height: 25px
