@use 'commonStyles/_variables'

.alerts-container
    .link-top
        display: flex
        justify-content: space-between
        align-items: flex-start
        width: 100%

        p
            font-family: variables.$pt-font
            font-size: 18px
            line-height: 22px
            margin: 0

        .link-wrapper
            width: fit-content

        @media (max-width: 1200px)
            flex-direction: column
            align-items: flex-start

            .link-wrapper
                margin-top: 10px

    .alertsSettings
        margin-top: 40px

        .init-loader
            display: flex
            justify-content: center
            align-items: center
            height: 50vh

        .preview-block
            max-width: 432px
            width: 100%
            height: 394px
            background: url('../../../assets/previewBg.png')
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

            &_img
                img
                    width: 140px
                    height: 140px
                    object-fit: cover
                    margin-bottom: 12px

            &_title,
            &_message
                margin-top: 12px
                font-style: normal
                font-weight: 600
                font-size: 17px
                line-height: 22px

            &_message
                margin: 0

        .form
            &-element
                min-height: 57px

                .form-select
                    max-width: 250px

            &-element:not(:last-child)
                margin-bottom: 10px

            .select-sound
                font-family: variables.$pt-font
                // width: max-content
                max-width: 250px
                width: 100%
                height: auto
                background: variables.$black-transparent-color
                border: none
                border-radius: variables.$border-radius
                padding: 9px 24px

                .block
                    justify-content: space-between

                    .title
                        font-style: normal
                        font-weight: 500
                        font-size: 20px
                        line-height: 25px

                    .icon
                        padding-right: 7px

#select-root
    .select-header
        font-family: variables.$pt-font
        color: variables.$white-color
        font-size: 18px
        line-height: 22px
        font-weight: 700
        padding: 15px 22px

    .list-sound
        padding: 0 22px 15px

        .listItem-sound
            text-align: left
            font-family: variables.$pt-font
            font-size: 18px
            line-height: 22px
            font-weight: 400
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-box-orient: vertical

    .select-footer
        font-family: variables.$pt-font
        border-top: 1px solid variables.$grey-color
        padding: 8px 22px
        font-size: 14px
        line-height: 18px
        font-weight: 400
        color: variables.$grey-color

        .sound-upload
            label
                cursor: pointer

            input
                display: none

.alert-modal
    .default-banner
        width: 100%
        height: 215px

        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: variables.$border-radius
            cursor: pointer
