@use 'commonStyles/variables'

.select
    position: relative

    .block
        cursor: pointer
        display: flex
        align-items: center

    .title
        font-size: 15px

    .list-wrapper
        position: absolute
        // right: 0
        transform: translateX(-50%)
        left: 50%
        top: 110%
        z-index: 10
        max-width: 300px
        // min-width: 130px
        min-width: 110px
        background: variables.$blue-transparent-color
        border-radius: variables.$border-radius
        backdrop-filter: blur(15px)

    .list
        padding: 11px
        overflow-y: auto
        max-height: 140px

        &-item
            text-align: center
            font-family: variables.$inter-font
            font-style: normal
            font-weight: 400
            font-size: 13px
            line-height: 18px
            color: variables.$grey-color
            margin-bottom: 5px
            transition: color .4s
            cursor: pointer

            &.active
                color: variables.$white-color

            &:hover
                color: variables.$white-color
