@use 'commonStyles/variables'

.wallet-wrapper
    position: relative
    border-radius: variables.$border-radius
    font-family: variables.$pt-font
    color: variables.$white-color
    font-style: normal
    cursor: pointer

    &.loaded
        background: variables.$blue-dark-color
        box-shadow: variables.$shadow

    p
        margin: 0

    .wallet-block
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        padding: 4px 8px

    .wallet-icon
        // background: variables.$orange-transparent-color
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        width: 30px
        height: 30px
        border-radius: 50%
        margin-right: 8px

        img
            width: 100%
            height: 100%
            object-fit: contain

    .balance
        font-size: 17px
        line-height: 22px
        margin-right: 8px
        width: max-content

    .address
        background: #8B3442
        border-radius: 5px
        padding: 4px 8px
        font-size: 15px
        line-height: 18px

    .popup
        position: absolute
        z-index: -1
        top: 0
        right: 0
        display: flex
        flex-direction: column
        width: 100%
        background: variables.$blue-bg-color
        border-radius: variables.$border-radius
        padding: 20% 5px 10px

        .item
            display: flex
            justify-content: space-between
            align-items: center
            font-family: variables.$pt-font
            font-style: normal
            font-size: 14px
            line-height: 20px
            color: variables.$white-color
            border-bottom: 1px solid #19191F
            cursor: pointer
            padding: 5px

            .content
                display: flex
                align-items: center

                .image
                    width: 24px
                    height: 24px
                    border-radius: 50%
                    display: flex
                    justify-content: center
                    align-items: center
                    overflow: hidden

                    img
                        object-fit: cover
                        width: 100%
                        height: 100%

                span
                    margin-left: 10px

            .icons
                display: flex
                align-items: center

                .copy
                    margin-right: 10px

                svg
                    width: 15px
                    height: 15px

            &:last-child
                border-bottom: none
