@use 'commonStyles/variables'

.datesPicker
    .ant-picker
        padding: 0
        background: none

        .ant-picker-input
            & > input
                padding: 15px 22px
                background: variables.$black-transparent-color
                font-family: variables.$pt-font
                font-style: normal
                font-weight: 600
                font-size: 17px
                line-height: 22px
                color: variables.$white-color
                text-align: center
                border: none
                border-radius: 30px

                &::placeholder
                    font-weight: 400
                    color: variables.$grey-color

        .ant-picker-range-separator
            background: #131323
            border: 2px solid #131323

            .ant-picker-separator
                display: none

        .ant-picker-active-bar
            display: none
            // bottom: 0
            // height: 100%
            // width: 173px !important
            // margin-left: 0
            // background: none
            // border: 2px solid variables.$main-color
            // border-radius: 30px
            // transition: none

        .ant-picker-suffix
            display: none

        .ant-picker-clear
            color: variables.$white-color
            background: none
